# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/airielle-rose-hugo-rull.jpg
!app/crud/uploads/catherine-pornillos-pontanares.jpg
!app/crud/uploads/cynthia-jacob-bagasala.jpg
!app/crud/uploads/danielle-jhovy-llorente-besada.jpg
!app/crud/uploads/gienelle-derecho-bermido.jpg
!app/crud/uploads/may-ann-peregrino-villareal.jpg
!app/crud/uploads/meriam-ortiz-tubig.jpg
!app/crud/uploads/rachel-ann-cañeso-baesa.jpg
!app/crud/uploads/shenie-mondares-praxides.jpg
!app/crud/uploads/wilma-lagatic-reginales.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
